<div class="setStyle">

  <h1>Tic tac toe</h1>
  <div class="m">
    
        <input #row type="text" class="m">
    <button type="button" class="btn btn-success btn-sm "(click)="create(row.value) " >Create Game</button><br>
  </div>

  <div class="showtable">
    <div>
       <div *ngFor="let a of table;let i = index" class="out-row">
      <app-box *ngFor="let a of table;let j = index" [player]="check(i,j)" (click)="swiplayer(i,j)"></app-box>
    </div>
    </div>

   

  </div>
  <div *ngIf="playerWinner != '' " class="m">
    <h3>{{playerWinner}}</h3>
     
  </div>
 

</div>